@font-face {
    font-family: 'TTLakes';
    src: url("/font/TTLakes-Regular.ttf") ;
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'TTLakes';
    src: url("/font/TTLakes-Bold.ttf") ;
    font-style: normal;
    font-weight: bold;
  }

  body {
    font-family: "TTLakes", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    color:#1B1C21;
    max-height: 597px;
  }

.wrapper {
    margin: 0 16px;
}

.nav-list {
    height: 88px;
}

.nav-list__items  {
    min-width:320px;
    display: flex;
    padding: 18.59px 0;


}
.nav-list__item {
    list-style-type:none;
    align-self:center ;
}

.call,.chat,.profile {
    display: none;
}

.repair {
    border-left:2px solid #EAEAEA;
    padding-left:20px;
}


.logo-group {
    margin:0 16.73px
}

.checkstatus {
    margin-left: 16px;
}

.nav-list__text {
    display: none;
}

.nav-list__link img:hover {
    scale:1.2;
    transition:scale 0.5s ease-in-out
}

.nav-list__link {
    color:#1B1C21;

}

.highlight {
    /* display: inline; */
    border-right: 4px solid #41F6D7;
    border-radius: 3px;
    position: absolute;
    left:-4px;
    height: 40px;
    letter-spacing: -0.6000000238418579px;
    align-self: center;
}

.page-name {
    margin:22px 0;
    font-size: 28px;
    display: flex;
    font-weight: bold;


}

.servises-list {
    display: flex;
    max-height: 44px;
    margin-bottom: 22px;
    overflow-x:scroll;
}

.servises-list::-webkit-scrollbar {
    display: none;
}


.servises-list__item {
    list-style-type:none;
    display: flex;
    box-sizing: border-box;
    white-space: nowrap;
    align-self:center ;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;

}

.servises-list__item {
    padding: 8px 9px 8px 16px ;
}

.servises-list__item--checked {
    border:2px solid #B8FFEC;
    border-radius: 6px;

}

.servises-list__link {
    min-width:100%;
    text-decoration: none;
    outline: none;
    color:#7E7E82;
}

.gradient {
        position: absolute;
        right:0;
        height: 40px;
        width: 24px;
        background-image: linear-gradient(to right,transparent, white);
}

.servises-list__link:hover {
    scale:1.1;
    transition:scale 0.5s ease-in-out
}

.reviews {

    display: none;
}

.section-description {
    overflow: hidden;
    max-height: 90px;
    margin-bottom: 16px;
}

.description {
font-size: 14px;
line-height: 18px;
letter-spacing: 0.20000000298023224px;
text-align: left;


}

.link-read-next {
    display: flex;
    text-decoration: none;
    line-height: 24px;
    width: 132px;
    white-space: nowrap;
    letter-spacing: -0.20000000298023224px;
    color:#1B1C21;
    margin-bottom: 16px;
}

.link-read-next:hover{
    scale:1.2;
    translate:43px -6px;
    transition: scale 0.5s ease-out,  translate 0.5s ease-in-out;
    border:3px dashed gray;
    min-width: 170px;

}


.link-read-next__text {
    margin-left: 8px;
    letter-spacing: -0.20000000298023224px;
}

.picture__pic {
    width: 320px;
    height: 176px;

}

.picture {
    margin-left:-16px;
    min-width: 320px;
    min-height: 176px;
    margin-bottom: 28px;
}

@media (min-width:321px) {
    .picture {
        text-align: center;
    }
}

@media (min-width: 768px) {

    .wrapper {
        margin: 0 25px 0 24px;
    }

    .call,.chat,.profile {
        display: block;
        margin-right: 16px;
    }

    .call {
        margin-left: auto;
    }

    .profile {
        margin-right: 20px;
    }

    .burger {
        border-right:2px solid #EAEAEA;
        padding-right:20px;
        margin-right: 20.73px;
    }

    .logo-group {
        margin: 0;
    }

    .page-name {
        margin-bottom: 32px;
        margin-top: 24px;
    }

    .servises-list {
        min-width: 776px;
    }

    .gradient {
        width: 19.31px;
}

    .reviews {
        display: none;
    }

    .next-resolution-768 {
        display: flex;
        height: 208px;
        margin-bottom: 40px;
        margin-top: 32px;
        justify-content: space-between;
    }

    .template-description-link {
        margin: 0;
    }

    .section-description {
        max-height: 160px;
        margin-bottom: 10px;
    }

    .description {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;

    }

    .description +  .description {
        margin-bottom: 0;
    }
    /** Конец. Текст */

    .picture__pic {
        border-radius:7px 0 0 7px  ;
        width: 100%;
        min-width: 360px;
        min-height: 208px;
    }

    .picture {
        margin: 0;
        margin-left: 48px;
        min-width: 360px;
        min-height: 208px;
    }
}



@media (min-width: 1120px) {

     .wrapper {
        margin: 0 25px 0 32px;
    }

    .next-resolution-1120 {
        display: flex;
        margin-top: 42px;
        justify-content: space-between;
        max-height: 40px;
        align-items: center;
        margin-bottom: 8px;
    }

    .nav-list {
        order: 2;
    }

    .burger,.logo-group,.call,.chat,.profile {
        display: none;
    }

    .repair {
        border: none;
    }

    .nav-list__item {
        margin: 0;
    }

    .nav-list__link {
        text-decoration: none;
        display: flex;
    }

      .nav-list__text {
        display: block;
        margin: auto 9px auto 32px;
        white-space: nowrap;
    }

    .repair .nav-list__text {
        min-width: 125px;
    }

    .checkstatus .nav-list__text {
        min-width: 119px;
    }

    .page-name {
        margin-bottom: 32px;
        margin-top: 24px;
        white-space: nowrap;
    }

    .servises-list {
        min-width: 776px;
        margin-bottom: 7px;
        flex-wrap: wrap;
        max-height: 82px;

    }

    .next-resolution-768 {
        /* display: flex;
        min-width: 720px;
        height: 208px;
        margin: 0;
        margin-bottom: 40px; */
        margin-top: 0;
    }

    .template-description-link {
        margin: 0;
    }

    .section-description {
        max-height: 160px;
        max-width: 490px;
        margin-bottom: 13.78px;
        margin-top: 9.22px;
    }

    .description {
        margin-bottom: 13.78px;
    }

    .description+.description {
        margin-bottom: 0;
    }

    .picture__pic {
        border-radius:7px 0 0 7px  ;
        width: 100%;
        min-width: 531.35px;
        min-height: 307px;
    }

    .picture {
        margin: 0;
        margin-left: 36px;
        min-width: 531.35px;
        min-height: 307px;
    }
}




