@font-face {
    font-family: 'TTLakes';
    src: url("/font/TTLakes-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url("/font/TTLakes-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: "TTLakes", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    color: #1B1C21;
    max-height: 1024px;
    width: 320px;
}

.wrapper {
    margin: 0 24px;
}

.nav-list {
    margin-top: 23px;
    margin-bottom: 46.27px;
}

@media (max-height:676px) {
    .nav-list {
        margin-bottom: 22.27px;
    }
}

.nav-list__items {
    display: flex;
    max-height: 51px;
    align-items: center;
}

.nav-list .nav-list__item:nth-of-type(2) {
    margin-right: auto;
    margin-left: 16.73px;
}

.nav-list__link img:hover {
    scale: 1.2;
    opacity: 0.8;
    transition: scale 0.5s ease-in-out
}

.menu {
    overflow: hidden;
}

.menu__link {
    text-decoration: none;
    color: #1B1C21;
}

.menu__item--checked .menu__link {
    color: #7E7E82;
}

.menu__item {
    margin-bottom: 32px;
}

.menu__item--checked::before {
    content: url(pics/highlight.png);
    position: absolute;
    left: 0;
    top:calc(100px + 16px*1);
}

@media (max-height:676px) {

    .menu__item {
        margin-bottom: 24px;
    }

    .menu__item--checked::before {
        top:calc(76px + 16px*1);
    }
}

.abs-block {
    position: absolute;
    bottom: 0;
}

.abs-block .nav-list {
    margin: auto 0 9px 0;
}

.abs-block .nav-list__items {
    display: flex;
    max-height: 47px;
    align-items: center;
}

.abs-block .nav-list__item:nth-of-type(2) {
    margin: 0 26px 0;
}

.email__link,
.phone__link {
    text-decoration: none;
    color: #1B1C21
}

.phone {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-weight: bold;
    margin: 12px 0 40px 0;;

}

@media (max-height:676px) {

    .phone {
        margin-bottom: 8px;
    }
}

.langs__item {
    display: none;
}

.langs__label {
    text-transform:uppercase ;
    margin-right: 7px;
}

.langs__item:checked + .langs__label {
    color:#7E7E82
}

.langs {
    margin-bottom: 32px;
}

